In [1]:
pwd

'C:\\Users\\rvega\\OneDrive - Grupo Pelon\\Data Science\\Data Analytics\\Course 5\\Task 1'

In [2]:
import pandas

In [3]:
import pandas as pd

In [6]:
existingProducts = pd.read_csv("existingproductattributes2017.csv")

In [7]:
existingProducts

,ProductType,ProductNum,Price,x5StarReviews,x4StarReviews,x3StarReviews,x2StarReviews,x1StarReviews,PositiveServiceReview,NegativeServiceReview,Recommendproduct,BestSellersRank,ShippingWeight,ProductDepth,ProductWidth,ProductHeight,ProfitMargin,Volume
0,PC,101,949.00,3,3,2,0,0,2,0,0.9,1967.0,25.80,23.94,6.62,16.89,0.15,12
1,PC,102,2249.99,2,1,0,0,0,1,0,0.9,4806.0,50.00,35.00,31.75,19.00,0.25,8
2,PC,103,399.00,3,0,0,0,0,1,0,0.9,12076.0,17.40,10.50,8.30,10.20,0.08,12
3,Laptop,104,409.99,49,19,8,3,9,7,8,0.8,109.0,5.70,15.00,9.90,1.30,0.08,196
4,Laptop,105,1079.99,58,31,11,7,36,7,20,0.7,268.0,7.00,12.90,0.30,8.90,0.09,232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Smartphone,191,200.00,62,25,10,11,12,9,3,0.8,720.0,0.90,2.80,5.40,0.30,0.14,248
76,Smartphone,192,99.00,18,17,6,2,12,5,4,0.7,5742.0,0.70,2.80,5.30,0.40,0.17,72
77,Netbook,182,349.99,22,10,6,2,10,3,3,0.3,2723.0,5.00,7.57,10.47,1.43,0.12,88
78,Smartphone,197,499.00,368,28,14,10,23,22,3,0.9,14086.0,0.90,2.70,5.00,0.40,0.10,1472
79,GameConsole,200,299.99,421,87,20,14,39,29,14,0.9,352.0,10.94,12.00,11.50,7.25,0.12,1684

In [8]:
# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = []

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [11]:
x = 1 + 2 + 3 + 4 +\
    5 + 6 + 7 + 8

In [12]:
print(x)

36

In [15]:
x = (1 + 2 + 3 + 4 +
     5 + 6 + 7 + 8 + 9)

In [16]:
print(x)

45

In [19]:
x=1+2

In [20]:
    print(x)

3

In [21]:
x = 1 + 2

In [22]:
print(x)

3

In [23]:
x             =        1    +                2

In [24]:
print(x)

3

In [25]:
x=10**-2

In [26]:
print(x)

0.01

In [27]:
x = 10 ** -2

In [28]:
print(x)

0.01

In [29]:
2 * (3 + 4)

14

In [30]:
print('first value:', 1)

first value: 1

In [31]:
print('second value:', 2)

second value: 2

In [32]:
L = [4,2,3,1]
L.sort()
print(L)

[1, 2, 3, 4]

In [39]:
# Python 2 only!
print "first value:", 1

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("first value:", 1)? (<ipython-input-39-40c2d8abb97e>, line 2)

In [40]:
# Python 3 only!
print('first value:', 1)

first value: 1

In [1]:
# assign 4 to the variable x
x = 4

In [2]:
print (x)

4

In [4]:
// C code
int x = 4;

SyntaxError: invalid syntax (<ipython-input-4-f1dad7a3c88b>, line 1)

In [6]:
x

4

In [7]:
x = 1         # x is an integer

In [8]:
print(x)

1

In [9]:
x = 'hello'   # now x is a string

In [10]:
print(x)

hello

In [11]:
x = [1, 2, 3] # now x is a list

In [12]:
print(x)

[1, 2, 3]

In [13]:
y = x

In [14]:
print(y)

[1, 2, 3]

In [15]:
x.append(4) # append 4 to the list pointed to by x

In [16]:
print(y) # y's list is modified as well!

[1, 2, 3, 4]

In [17]:
x = 'something else'

In [18]:
print(y)  # y is unchanged

[1, 2, 3, 4]

In [19]:
print(x)

something else

In [20]:
x = 10

In [21]:
y = x

In [22]:
x += 5 # add 5 to x's value, and assign it to x

In [23]:
print(x)

15

In [24]:
print("x =", x)

x = 15

In [25]:
print("y =", y)

y = 10

In [26]:
print(y)

10

In [27]:
x = 4
type(x)

int

In [28]:
x = 'hello'
type(x)

str

In [29]:
x = 3.14159
type(x)

float

In [30]:
L = [1, 2, 3]

In [31]:
print(L)

[1, 2, 3]

In [32]:
L.append(100)

In [33]:
print(L)

[1, 2, 3, 100]

In [34]:
x = 4.5

In [35]:
print (x.real, + x.imag, 'i')

4.5 0.0 i

In [36]:
x = 4.5

In [37]:
x.is_integer()

False

In [38]:
x = 4.0

In [39]:
x.is_integer()

True

In [40]:
type(x.is_integer)

builtin_function_or_method

In [41]:
# addition, subtraction, multiplication
(4 + 8) * (6.5 - 3)

42.0

In [42]:
# True division
print(11 / 2)

5.5

In [43]:
# Floor division
print(11 // 2)

5

In [44]:
bin(10)

'0b1010'

In [45]:
bin(4)

'0b100'

In [46]:
4 | 10

14

In [47]:
bin(4 | 10)

'0b1110'

In [48]:
a = 24

In [49]:
print(a)

24

In [50]:
a + 2

26

In [51]:
a = a + 2

In [52]:
print(a)

26

In [53]:
a += 2 # equivalent to a = a + 2

In [54]:
print(a)

28

In [55]:
# 25 is odd
25 % 2 == 1

True

In [56]:
# 66 is odd
66 % 2 == 1

False

In [57]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

In [58]:
-1 == ~0

True

In [59]:
x = 4
(x < 6) and (x > 2)

True

In [60]:
(x > 10) or (x % 2 == 0)

True

In [61]:
print(x)

4

In [62]:
not(x < 6)

False

In [63]:
# (x > 1) xor (x < 10)
(x > 1) != (x < 10)

False

In [64]:
a = [1, 2, 3]
b = [1, 2, 3]

In [65]:
a == b

True

In [66]:
a is b

False

In [67]:
a is not b

True

In [68]:
a = [1, 2, 3]
b = a
a is b

True

In [69]:
print(a)

[1, 2, 3]

In [70]:
print(b)

[1, 2, 3]

In [71]:
1 in [1, 2, 3]

True

In [72]:
2 not in [1, 2, 3]

False

In [73]:
x = 1
type(x)

int

In [74]:
2 ** 200

1606938044258990275541962092341162602522202993782792835301376

In [75]:
5 / 2

2.5

In [77]:
# Python 2 behavior
>>> 5 / 2

2.5

In [78]:
5 // 2

2

In [79]:
x = 0.000005

In [80]:
y = 5e-6

In [81]:
print(y)

5e-06

In [82]:
print(x)

5e-06

In [83]:
print(x == y)

True

In [84]:
x == y

True

In [85]:
x = 1400000.00
y = 1.4e6
print(x == y)

True

In [86]:
float(1)

1.0

In [87]:
0.1 + 0.2 == 0.3

False

In [88]:
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

In [89]:
complex(1, 2)

(1+2j)

In [90]:
1 + 2j

(1+2j)

In [91]:
c = 3 + 4j

In [92]:
c.real  # real part

3.0

In [93]:
c.imag  # imaginary part

4.0

In [94]:
c.conjugate()  # complex conjugate

(3-4j)

In [95]:
abs(c)  # magnitude, i.e. sqrt(c.real ** 2 + c.imag ** 2)

5.0

In [96]:
message = "what do you like?"

In [97]:
response = 'spam'

In [98]:
print(message)

what do you like?

In [99]:
print(response)

spam

In [100]:
# length of string
len(response)

4

In [101]:
# Make upper-case. See also str.lower()
response.upper()

'SPAM'

In [102]:
print(response)

spam

In [103]:
# Capitalize. See also str.title()
message.capitalize()

'What do you like?'

In [104]:
# concatenation with +
message + response

'what do you like?spam'

In [105]:
# concatenation with +
message + ' ' + response

'what do you like? spam'

In [106]:
# multiplication is multiple concatenation
5 * response

'spamspamspamspamspam'

In [107]:
# Access individual characters (zero-based indexing)
message[0]

'w'

In [108]:
type(None)

NoneType

In [109]:
return_value = print('abc')

abc

In [110]:
print(return_value)

None

In [111]:
result = (4 < 5)
result

True

In [112]:
type(result)

bool

In [113]:
print(True, False)

True False

In [114]:
bool(2014)

True

In [115]:
bool(0)

False

In [116]:
bool(3.1415)

True

In [117]:
bool(None)

False

In [118]:
bool("")

False

In [119]:
bool("abc")

True

In [120]:
bool([1, 2, 3])

True

In [121]:
bool([])

False

In [122]:
L = [2, 3, 5, 7]

In [123]:
print(L)

[2, 3, 5, 7]

In [124]:
# Length of a list
len(L)

4

In [125]:
# Append a value to the end
L.append(11)

In [126]:
print(L)

[2, 3, 5, 7, 11]

In [127]:
# Addition concatenates lists
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [128]:
print(L)

[2, 3, 5, 7, 11]

In [129]:
# sort() method sorts in-place
L = [2, 5, 1, 6, 3, 4]
L.sort()
L

[1, 2, 3, 4, 5, 6]

In [130]:
L = [1, 'two', 3.14, [0, 3, 5]]

In [131]:
print(L)

[1, 'two', 3.14, [0, 3, 5]]

In [132]:
L = [2, 3, 5, 7, 11]

In [133]:
L[0]

2

In [134]:
L[1]

3

In [135]:
L[-1]

11

In [136]:
L[-2]

7

In [137]:
L[0:3]

[2, 3, 5]

In [138]:
L[:3]

[2, 3, 5]

In [139]:
L[-3:]

[5, 7, 11]

In [140]:
L[::2]  # equivalent to L[0:len(L):2]

[2, 5, 11]

In [141]:
L[::-1]

[11, 7, 5, 3, 2]

In [142]:
L[0] = 100
print(L)

[100, 3, 5, 7, 11]

In [143]:
L[1:3] = [55, 56]
print(L)

[100, 55, 56, 7, 11]

In [144]:
t = (1, 2, 3)

In [145]:
print(t)

(1, 2, 3)

In [146]:
t = 1, 2, 3

In [147]:
print(t)

(1, 2, 3)

In [149]:
len(t)

3

In [150]:
t[0]

1

In [151]:
t[1]

2

In [152]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [154]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [155]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [156]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [157]:
numbers = {'one':1, 'two':2, 'three':3}

In [158]:
print(numbers)

{'one': 1, 'two': 2, 'three': 3}

In [159]:
# Access a value via the key
numbers['two']

2

In [160]:
# Set a new key:value pair
numbers['ninety'] = 90
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

In [161]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [162]:
print(primes)

{2, 3, 5, 7}

In [163]:
print(odds)

{1, 3, 5, 7, 9}

In [164]:
# union: items appearing in either
primes | odds      # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [165]:
# intersection: items appearing in both
primes & odds             # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [166]:
# difference: items in primes but not in odds
primes - odds           # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [167]:
# symmetric difference: items appearing in only one set
primes ^ odds                     # with an operator
primes.symmetric_difference(odds) # equivalently with a method

{1, 2, 9}

In [168]:
x = -15

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

-15 is negative

In [169]:
for N in [2, 3, 5, 7]:
    print(N, end=' ') # print all on same line

2 3 5 7

In [170]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [171]:
# range from 5 to 10
list(range(5, 10))

[5, 6, 7, 8, 9]

In [172]:
# range from 0 to 10 by 2
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [173]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [174]:
for n in range(20):
    # if the remainder of n / 2 is 0, skip the rest of the loop
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

In [175]:
a, b = 0, 1
amax = 100
L = []

while True:
    (a, b) = (b, a + b)
    if a > amax:
        break
    L.append(a)

print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [176]:
L = []
nmax = 30

for n in range(2, nmax):
    for factor in L:
        if n % factor == 0:
            break
    else: # no break
        L.append(n)
print(L)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [177]:
print('abc')

abc

In [178]:
print(1, 2, 3)

1 2 3

In [179]:
print(1, 2, 3, sep='--')

1--2--3

In [180]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [181]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [182]:
def real_imag_conj(val):
    return val.real, val.imag, val.conjugate()

r, i, c = real_imag_conj(3 + 4j)
print(r, i, c)

3.0 4.0 (3-4j)

In [183]:
def fibonacci(N, a=0, b=1):
    L = []
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [184]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [185]:
fibonacci(10, 0, 2)

[2, 2, 4, 6, 10, 16, 26, 42, 68, 110]

In [186]:
fibonacci(10, b=3, a=1)

[3, 4, 7, 11, 18, 29, 47, 76, 123, 199]

In [187]:
def catch_all(*args, **kwargs):
    print("args =", args)
    print("kwargs = ", kwargs)

In [188]:
catch_all(1, 2, 3, a=4, b=5)

args = (1, 2, 3)
kwargs =  {'a': 4, 'b': 5}

In [189]:
catch_all('a', keyword=2)

args = ('a',)
kwargs =  {'keyword': 2}

In [190]:
inputs = (1, 2, 3)
keywords = {'pi': 3.14}

catch_all(*inputs, **keywords)

args = (1, 2, 3)
kwargs =  {'pi': 3.14}

In [191]:
add = lambda x, y: x + y
add(1, 2)

3

In [194]:
def add(x, y):
    return x + y

In [195]:
data = [{'first':'Guido', 'last':'Van Rossum', 'YOB':1956},
        {'first':'Grace', 'last':'Hopper',     'YOB':1906},
        {'first':'Alan',  'last':'Turing',     'YOB':1912}]

In [196]:
sorted([2,4,3,5,1,6])

[1, 2, 3, 4, 5, 6]

In [197]:
# sort alphabetically by first name
sorted(data, key=lambda item: item['first'])

[{'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [202]:
# sort by year of birth
sorted(data, key=lambda item: item['YOB'])

[{'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [ ]:
# En cuanto al subir el archivo csv a jupyter no tuve ningÃºn inconveniente, subiÃ³ al primer intento sin ningÃºn error

In [199]:
# Fue relativamente sencilla la instalaciÃ³n de Python y sus librerÃ­as, sin embargo tengo la duda que si todos los pasos que hice
# en el commando prompt fueron pasos duplicados, puesto que al haber instalado previamente anaconda se supone que todo eso ya
# se habÃ­a instalado. Al hacerlo desde el command prompt hubo un paquete "scikit-learn" que no pude instalar por errores

In [200]:
# El tutorial aunque es introductorio es muy bueno y tiene links cuando se quiere entrar a ver cosas mÃ¡s detalladamente que lo
# que en el tutuorial se estÃ¡ explicando, pero cubre a mi parecer lo mÃ¡s importante que se debe saber a ese nivel introductorio

In [201]:
# Para mÃ­ la principal enseÃ±anza es Python todo lo trabaja como objetos, hasta las mismas funciones, eso es algo diferente a 
# otros software, tambiÃ©n la sencillez que tiene para mezclar en las listas valores de diferentes tipos